*.img filter=lfs diff=lfs merge=lfs -text
images/abl.img filter=lfs diff=lfs merge=lfs -text
images/aop.img filter=lfs diff=lfs merge=lfs -text
images/bluetooth.img filter=lfs diff=lfs merge=lfs -text
images/cpucp.img filter=lfs diff=lfs merge=lfs -text
images/devcfg.img filter=lfs diff=lfs merge=lfs -text
images/dsp.img filter=lfs diff=lfs merge=lfs -text
images/featenabler.img filter=lfs diff=lfs merge=lfs -text
images/hyp.img filter=lfs diff=lfs merge=lfs -text
images/imagefv.img filter=lfs diff=lfs merge=lfs -text
images/keymaster.img filter=lfs diff=lfs merge=lfs -text
images/modem.img filter=lfs diff=lfs merge=lfs -text
images/qupfw.img filter=lfs diff=lfs merge=lfs -text
images/shrm.img filter=lfs diff=lfs merge=lfs -text
images/tz.img filter=lfs diff=lfs merge=lfs -text
images/uefisecapp.img filter=lfs diff=lfs merge=lfs -text
images/xbl.img filter=lfs diff=lfs merge=lfs -text
images/xbl_config.img filter=lfs diff=lfs merge=lfs -text
images/*.img filter=lfs diff=lfs merge=lfs -text
